{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, меня зовут Максим</h1>
  <div class="container py-3">
    <p>
      При помощи Яндекс.Практикума, этот сайт увидел свет) О дизайне пока и не может идти речи, но он будет, это уж точно.
    </p>
    <p>Не сказать, что это было просто, но что поделать. Как сказал великий: "Хиллимся, живем!"</p>
    <p><h4>Мои контакты:</h4></p>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href='https://t.me/maxsause'> Telegram </a>
          </li>
          <li class="list-group-item">
            <a href='https://vk.com/max__and'> VK </a>
          </li>
          <li class="list-group-item">
            <a href='https://github.com/maxsause'> Github </a>
          </li>
          <li class="list-group-item">
            <a href='https://discord.gg/QAhseJr'> Сервер Discord </a>
          </li>
        </ul>
      </aside>
  </div>
{% endblock %}