{% extends 'base.html' %}
{% block title %}Группа {{ group.title }}{% endblock %}
{% block content %}
  <main>
    <div class="container py-3">
      <h1>{{ group.title }}</h1>
      <p>
        {{ group.description }}
      </p>
      {% for post in page_obj %}
        {% include 'includes/post.html' %}
        <p> <a href="{% url 'posts:post_detail' post.pk %}">Подробная информация </a> </p>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'includes/paginator.html' %}
    </div>
  </main>
{% endblock %}
