{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Профайл пользователя {{ author.get_full_name }} {% endblock %}
{% block content %}
  <div class="container py-3">
    <h1>Все посты пользователя: <b>{{ author.get_full_name }}</b> </h1>
    <h3>Всего постов: {{ page_obj.paginator.count }} </h3>
    {% if request.user.is_authenticated %}
      {% if user.username != author.username %}
        {% if following %}
          <a class="btn btn-lg btn-light"
           href="{% url 'posts:profile_unfollow' author.username %}" role="button">
           Отписаться
          </a>
        {% else %}
          <a class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button">
          Подписаться</a>
        {% endif %}
      {% else %}
      {% endif %}
    {% else %}
    {% endif %}
    <article>
      <p>
        {% for post in page_obj %}
          <div class="row">
            <aside class="col-12 col-md-9">
              <p>
                {{ post.text|linebreaks }}
              </p>
              {% if post.group %}
                Все записи группы: <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.slug }}</a>
              {% endif %}
              <p> <a href="{% url 'posts:post_detail' post.pk %}">Подробная информация </a> </p>
            </aside>
            <article class="col-12 col-md-3">
              {% thumbnail post.image "900x450" crop="center" upscale=True as im %}
                <img class="card-img my-2" src="{{ im.url }}">
              {% endthumbnail %}
            </article>
            {% if not forloop.last %}<hr>{% endif %}
          </div>
        {% endfor %}
      </p>
    </article>
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}
