{% extends 'base.html' %}
{% block title %}Профайл пользователя {{ author.get_full_name }} {% endblock %}
{% block content %}
  <div class="container py-3">
    <h1>Все посты пользователя: <b>{{ author.get_full_name }}</b> </h1>
    <h3>Всего постов: {{ page_obj.paginator.count }} </h3>
    <article>
      <p>
        {% for post in page_obj %}
          <p>
            {{ post.text|linebreaks }}
          </p>
          {% if post.group %}
            Все записи группы: <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.slug }}</a>
          {% endif %}
          <p> <a href="{% url 'posts:post_detail' post.pk %}">Подробная информация </a> </p>
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
      </p>
    </article>
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}
