{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}

<!-- Костыль, временно использующийся вместо формы сброса пароля-->

{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Сброс пароля
          </div>
          <div class="card-body">
            <p> Форма сброса пароля еще не готова, вернитесь сюда позже)  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
